@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital@0;1&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

.logo{
    color: rgb(5, 25, 241);
    display: flex;
}
.logo i{
    font-size: 30px;
}

/*Navbar*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: #001C30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    font-size: 1.15rem;
    color: #fcfcfc;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    cursor: pointer;
}
.navbar a:hover{
    border-bottom:3px solid #27efa6;
}
.active{
    border-bottom: 3px solid red;
}



.icon{
    font-size: 2.8rem;
    color: #ffff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;


}
#check{
    display: none;

}
.icon #close-icon{
    display: none;
}



/*Break points*/
@media (max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width:768px){
    .icon{
        display: inline-flex;
    }
    #check:checked~.icon #menu-icon{
        display: none;

    }
    .icon #close-icon{
        display: none;
    }
    #check:checked~.icon #close-icon{
        display: block;

    }
    

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #0c111a;
        transition: 0.2s ease-out;
    }
    #check:checked~.navbar{
        height: 14rem;
    
    }
    .navbar a{
        display: none;
        font-size: 1.1rem;
        margin: 1.5rem;
        text-align: center;
        transform: translateY(-50px);
        transition: 1s ease-out;
        
    }
    .navbar a:hover{
        border-bottom:none;
    }
    .active{
        border-bottom: none;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        display: block;
    }
}

.container{
    overflow: hidden;
}



/*Home page*/

.first-box{
    /* min-height: 100vh; */
    width: 100%;
    background: white;
    cursor: pointer;
    padding: 80px;
}

.intro{
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    padding: 10px;
    justify-content: space-around;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    background-color: antiquewhite;
}
.text-1{
    height: auto;
    width: max-content;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    padding: 10px;
    margin-left: 20px ;
    
}
.text{
    background-color: blue;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-size: 30px;
    border-radius: 5px;
}
.name{
    text-align: center;
}
.learn-more{
    padding: 10px;

}
.cont{
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    /* min-height: 300px; */
   object-fit: cover;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   padding-top: 20px;

    
}
.cont:hover{
     height: fit-content;
     width: max-content;
     border-radius: 5px;
     color: #fff;
     background: linear-gradient(45deg, #7b00e0, #ae31d9);
     
}
.img-1{
    text-align: center;
    padding: 10px;
    object-fit: cover;
    width: min-content; 
    
    
}
.img-1 img{
    border-radius: 50%;
    z-index: 20;
    border: 5px solid #ae31d9;
    transition: all 0.3s ease;
    height: 200px;
    width: 200px;

}
.cont:hover .img-1 img{
    border: 5px solid #fff;
}

.cont:hover .web{
    display: none;
    visibility: none;
}
.title{
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;

}
.place{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
}
.content{
    color: #fff;
    font-size: 17px;
    padding: 1px 20px 10px 20px!important ;
    display: none;

}
.cont:hover .content{
    display: flex;
    flex-direction:column ;
    font-size: 17px;
    padding: 1px 20px 10px 20px!important ;
    opacity: 1;
    transition: all 2s;
}
.content .buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
.buttons .btn{
    height: 40px;
    width: 150px;
    margin: 0px 5px ;
  
}
.buttons .btn button{
   height: 100%;
   width: 100%;
   background: #fff;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 18px;
   font-weight: 500;
   border-radius: 5px;
   transition: all 0.3s;
   

}
.btn button:hover{
    transform: scale(1.2);
}

.cont .follow a{
    position: relative;
    height: 40px;
    width: min-content;
   flex-wrap: wrap;
    background-color: #fff;
    font-size: 30px;
    padding: 8px;
    margin: 10px;
    border-radius: 4px;

}
.cont .follow a:hover{
    transform: scale(1.2);
}

.intro-self{
    background-color: rgb(196, 156, 234);
    text-align: center;
    border-radius: 5px;
    padding: 4px;
}

@media (max-width:1020px){
    .middle .text-1{
        font-size: 20px;
    }
    .middle .text{
        font-size: 20px;
    }
    .img-1 img{
        height: 150px;
        width: 150px;
    }
    .web h1{
        font-size: 20px;
    }
    .buttons .btn{
        width: 100px;
    }
    .buttons .btn button{
        font-size: 15px;
    }
    .btn button:hover{
        transform: scale(1.1);
    }
    .title{
        font-size: 20px;
    }
    .content p{
        font-size: 15px;
    }
    .cont .follow a{
        height: 30px;
        font-size: 15px;
    }


}



/*About Page*/
.about{
    /* min-height: 100vh; */
    width: 100%;
    background-color: #071329;
    text-align: center;
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;

}
.intro-img img{
   height: 100vh;
   width: 600px;
}

.box-2{
     display: flex;
     width: 50%;
     flex-direction: column;
     text-align: left;
    padding: 20px;
}

.abo a{
    color: #022af1;
    border-bottom: 4px solid wheat;
    width: fit-content;
}
.abo a:hover{
    color: red;
}
.intro-1{
    margin-top: 15px;
    color: #83ace2;
}

mark{
    background: #001C30;
    color: white;

}

.intro-2{
    overflow:hidden;
    animation: reveal 8s infinite;
     

}  
  .intro-2 h2 {
    animation: slidein 8s infinite;

  }
  
  
  @keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:fit-content;}
      80% {opacity:1;}
      100% {opacity:0;width:fit-content;}
  }

.skill{
    margin-top: 30px;
    width: 450px;

}
.skill-bar {
    width: 100%;
    background-color: #ddd;
    margin: 10px 10px 15px 0px;
    border-radius: 50px;
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding-right: 10px;
    border-radius: 50px;
    color: #001C30;

  }
  .ski1{
    color: #2136f3;
    border-bottom: 4px solid wheat;
    width: fit-content;

  }
  .ski1:hover{
    color: #27efa6;
  }
  .ski2{
    margin-top: 10px;
  }


  .html {width: 85%; background-color: #27efa6;}
  .css {width: 90%; background-color: #2196F3;}
  .script {width: 60%; background-color: #e0e40d;}
  .react {width: 30%; background-color: #e41515;}

@media (max-width:1040px){
    .intro-img img{
        height: 50vh;
        width: 460px;
     }
     .skill{
        width: 350px;
    
    }


}

@media (max-width:950px){
    .intro-img img{
        height: 70vh;
        width: 400px;
     }
     .skill{
        width: 300px;
    
    }


}

@media (max-width:770px){
    .intro-img img{
        height: 60vh;
        width: 400px;
        
     }
     .skill{
        width: 280px;
    
    }
    .intro-img{
        align-items: center;
        justify-content: center;
    }
    .box-2{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .about{
        align-items: center;
        justify-content: center;
    }


}

/*Service page*/
 .service-provide{
    /* min-height: 100vh; */
    width: 100%;
    background: #090a25;
    text-align: center;
    position: sticky;
    top:0;
    left:0;
    z-index: 15;
}
.service{
    background-color: #DAFFFB;
    padding: 10px;
    font-size: 20px;
    color: #001C30;
}
.service:hover{
    color: #d20f40;
}
.skill-project{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;

   
}
.skill-box{
    margin: 20px;
    border: none;

}
.skill-box img{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    transition: all 0.2s;
    border: none;
}
.skill-box img:hover{
    width: 320px;
    height: 200px;
    border: none;
    box-shadow:1px 5px 30px 1px #09b5b5;
}

@media (max-width:770px){
    .skill-box img{
        width: 250px;
        height: 180px;
        
    }
}

/*contact Page*/
.contact-me{
    /* min-height: 100vh; */
    width: 100%;
    background: #0b0b21;
    text-align: center;
    /* position: sticky; */
    top:0;
    left:0;
    z-index: 20;
    color: #fff;
    cursor: pointer;
}
.me1{
    padding: 10px;
    background: #05bcb9;
    font-size: 20px;

}
.me1 h2 a{
    color: #0b0b21;
}
.me1 h2 a:hover{
    color: rgb(252, 249, 243);
}
.mid-box{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    /* margin-top: 30px; */

}
.mid-box1{
    margin-top: 50px;
    padding: auto;
    margin-right: 20px;
}
.mid-text1{
    margin-top: 15px;
}
.mid-email{
    display: flex; 
    margin-top: 25px;
}
.mid-email i{
    padding-right: 10px;
    font-size: 25px;
}
.mid-email:hover{
    color: red;
}

.mid-name{
    padding: 0px 10px 10px 0px ;
}

.mid-name input{
    width: 400px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    
}
.mid-name input:hover{
    border: solid 3px rgb(17, 51, 245);
    box-shadow: #2136f3 3px 3px 20px 3px ;
    background-color: #001C30;
    color: white;
}
.mid-name textarea{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    width: 400px;
}
.mid-name textarea:hover{
    border: solid 3px rgb(17, 51, 245);
    box-shadow: #2136f3 3px 3px 20px 3px ;
    background-color: #001C30;
    color: white;
}
.mid-name button{
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    
}
.mid-name button:hover{
    border: solid 3px rgb(17, 51, 245);
    box-shadow: #2136f3 3px 3px 20px 3px ;
    background-color: #001C30;

}
.mid-name button a:hover{
    color: white;
}
@media (max-width:770px){
    .mid-box1{
        margin-top: 0;
        padding: 5px;
        padding-bottom: 20px;
        width: 100%;
        
    }
    .mid-text1{
        font-size: 12px;
    }
    .mid-text2{
        font-size: 12px;
    }
    .mid-box{
        justify-content: center;
        align-items: center;
    }
    .mid-name input{
        width: 250px;  
        
    }
    .mid-name textarea{
        width: 250px;
    }
}


/* end page*/
.end-page{
    background-color: black;
    margin-top: 40px;
    border-top: 2px solid white;
    padding: 30px;
    
}
.end-page nav{
    font-size: 30px;
}
.end-page nav a{
    color: #27efa6;
    padding: 5px;
}
.lo2 {
    font-size: 20px;
    color: #2196F3;
}
.mail:hover{
    color: red;
}



